<div class="container">
    <div class="page-header">
        <h2>Postdicting Concentrations of First-Order Drugs</h2>

        <p class="lead">Given two concentration, calculate past concentrations.</p>
    </div>


    <div ng-controller="firstOrderPostdictCtrl">

        <div class="row">
            <div class="col-md-8"><span class="stepHeader">Patient Case</span></div>
            <div class="col-md-4">
                <button class="btn btn-default" ng-click="hidePatient = !hidePatient">Toggle patient case</button>
            </div>
        </div>
        <div collapse="hidePatient">

            <span ng-include="'common/case1.html'"></span>

            <p>
                <br>
                {{drug.drug | capitalize}} ({{Problem.C0_time | date:'yyyy-MM-dd HH:mm'}}) {{Problem.C0}} mg/L
                <br>
                {{drug.drug | capitalize}} ({{Problem.C_time | date:'yyyy-MM-dd HH:mm'}}) {{Problem.C}} mg/L
            </p>

            <p>&nbsp;</p>

            <p>
                The patient has been receiving {{drug.drug}} {{Problem.dose}} mg every {{Problem.tau}} hours
                intravenously.<br>
                The most recent dose was infused starting at {{Problem.InfusionBegin_time | date:'yyyy-MM-dd HH:mm'}}
                and the
                infusion was completed at {{Problem.InfusionEnd_time | date:'HH:mm' }}.
                <br>The intent was to collect
                the initial concentration at {{Problem.trueC0_time | date:'yyyy-MM-dd HH:mm'}}, but the patient
                was having a scan done at that time. Drawing the concentration was forgotten until someone remembered
                to do it at {{Problem.C0_time | date: 'HH:mm'}}. Better late than never.
            </p>

            <p>&nbsp;</p>

            <p>
                What would the patient's {{drug.drug}} concentration have been had it actually been collected at
                {{Problem.trueC0_time | date:'HH:mm'}}?
            </p>

        </div>
        <!--collapse hide patient-->


        <p>&nbsp;</p>

        <p>&nbsp;</p>

        <div class="row">
            <div class="col-md-8">
                <p>
                    <span class="stepHeader">Step 1: Draw a picture.</span>
                </p>

                <p>
                    Use the information in the patient case to create a concentration-time plot. Show what we know so
                    far about what the drug concentrations are doing.
                </p>
            </div>
            <div class="col-md-4">.
                <button class="btn btn-default" ng-click="hideStep1 = !hideStep1">Toggle Step 1</button>
            </div>
        </div>
        <div collapse="hideStep1">
            <div class="row">
                <div class="col-md-6" style="height: 300px">.
                    <linechart data="initialDrawingData" options="initialDrawingOptions"></linechart>
                </div>
                <div class="col-md-6">
                    <p>
                        This represents a not terribly uncommon situation where we miss getting the "peak" drawn
                        at the correct time. If no one knows what to do, most likely the concentration would be
                        re-ordered after the next dose. This adds to the expense of therapy and delays clinical
                        decision-making. We can do better.
                    </p>

                    <p>
                        Here is the information from the patient case plotted on a linear-linear graph. Both the X-axis
                        (time) and the Y-axis (concentration) are linear. Since {{drug.drug}} is a first-order drug,
                        we end up with a curved plot.
                    </p>

                    <p>
                        Let your mouse rest over the various points on the graph to see what each one represents.
                    </p>

                    <p>
                        Even though there are sever different points plotted, we really only know the concentrations for
                        the inner-most two (Co and C). The other points are just estimated based on what was
                        described in the case.
                    </p>
                </div>

            </div>
            <div class="row">
                <div class="col-md-6" style="height:300px">.
                    <linechart data="initialDrawingData" options="initialDrawingOptionsLog"></linechart>
                </div>
                <div class="col-md-6">
                    <p>
                        Curves are difficult to work with mathematically. Straight lines are easy. Changing the
                        Y-axis from linear to logarithmic changes the curves to straight lines. The important thing
                        to keep in mind is that the Y-axis no longer represents 'concentration'. It now represents
                        <b>ln concentration</b>. The X-axis (time) is still linear.
                    </p>

                    <p>
                        We have the coordinates of two points on a straight line. Once we figure out the slope of the
                        line, we will have enough information to determine <b>every</b> point on the line.
                    </p>

                    <p>
                        That's going to be our basic strategy:
                    <ol>
                        <li>Determine the slope of the line (Kel)</li>
                        <li>Characterize the entire line using <i>y=mx+b</i> (the general equation for a stright line)
                        </li>
                        <li>Figure out the y-coordinate (concentration) for some other arbitray x-coordinate (time)
                            on the line.
                        </li>
                    </ol>
                    </p>
                </div>
            </div>
            <p>&nbsp;</p>

            <p>&nbsp;</p>
        </div>
        <!--collapse hide step 1-->


        <p>&nbsp;</p>

        <p>&nbsp;</p>

        <div class="row">
            <div class="col-md-8">
                <p>
                    <span class="stepHeader">Step 2: Predict answer.</span>
                </p>

                <p>
                    In the time it took us to draw the graphs, it's possible we may have forgotten what the question
                    was asking. Go back and look at the question again. Answer these two questions:
                <ul>
                    <li>What is the answer going to look like (units)?</li>
                    <li>What "ballpark" number are we expecting as our answer?</li>
                </ul>
                Click the button to the right when you have answered these questions.
                </p>
            </div>
            <div class="col-md-4">.
                <button class="btn btn-default" ng-click="hideStep2 = !hideStep2">Toggle Step 2</button>
            </div>
        </div>


        <div collapse="hideStep2">

            <div class="row">
                <div class="col-md-12">


                    <p>
                        Looking back at our question, we see that it is asking for a concentration.
                        We know that the units for concentration is usually <b>mg/L</b>.
                        If we cross out units and don't end up with <b>mg/L</b>, we've done something wrong.
                    </p>
                    <p>
                        We also know that our answer is going to be a number somewhat greater than {{Problem.C0}} mg/L.
                        Not <b>hugely</b> greater, but a few units greater.
                    </p>

                </div>

            </div>

            <p>&nbsp;</p>

            <p>&nbsp;</p>
        </div>
        <!--collapse hide step 2-->

        <p>&nbsp;</p>

        <p>&nbsp;</p>

        <div class="row">
            <div class="col-md-8">
                <p>
                    <span class="stepHeader">Step 3: Select your tools.</span>
                </p>

                <p>
                    Think about what equations help describe the situation. Which one are you going to use?
                </p>

                <p>Click the button to the right when you have an equation in mind.</p>
            </div>
            <div class="col-md-4">.
                <button class="btn btn-default" ng-click="hideStep3 = !hideStep3">Toggle Step 3</button>
            </div>
        </div>


        <div collapse="hideStep3">

            <div class="row">
                <div class="col-md-6">.

                    <div ng-include="'kel/kel.svg'"></div>

                </div>
                <div class="col-md-6">
                    <p>
                        Here is the same information from the patient case. The elimination rate constant (Kel) is
                        going to be the slope of the line on which Co and C lie.
                    </p>
                </div>
            </div>


            <div class="row">
                <div class="col-md-6">.
                    <div mathjax-bind="riserun"></div>
                </div>
                <div class="col-md-6">
                    <p>
                        Slope is sometimes thought of as "rise over run". That is, it is the change in the value of
                        the Y-axis portion of the the coordinate (ln concentration) over the value of the X-axis portion
                        (time).
                    </p>
                </div>
            </div>
            <div class="row">
                <div class="col-md-6">.
                    <div mathjax-bind="firstorderslope"></div>
                </div>
                <div class="col-md-6">
                    <p>
                        Here is our "rise over run" with the coordinates of our points filled-in. The numerator
                        represents the difference in the <b>ln concentrations</b> of the points, while the denominator
                        represents the change in time.
                    </p>

                    <p>
                        Once we have figured out Kel, we can then set our "unknown concentration" (the one we should
                        have drawn at {{Problem.C0_time | date: 'HH:mm'}}) as <i>Co</i> and solve for △t.
                    </p>
                </div>
            </div>

            <p>&nbsp;</p>

            <p>&nbsp;</p>
        </div>
        <!--collapse hide step 3-->

        <p>&nbsp;</p>

        <p>&nbsp;</p>

        <div class="row">
            <div class="col-md-8">
                <p>
                    <span class="stepHeader">Step 4: Do the math.</span>
                </p>

                <p>
                    Set up your equations and solve for the unknown (Kel).
                </p>

                <p>Click the button to the right when you have a result.</p>
            </div>
            <div class="col-md-4">.
                <button class="btn btn-default" ng-click="hideStep4 = !hideStep4">Toggle Step 4</button>
            </div>
        </div>


        <div collapse="hideStep4">


            <div class="row">
                <div class="col-md-6">.
                    <div mathjax-bind="firstorderslope2"></div>
                </div>
                <div class="col-md-6">
                    <p>
                        We've filled in the two concentration values. It's important to remember that we have to take
                        the natural log of each concentration before subtracting.
                    </p>
                </div>
            </div>

            <div class="row">
                <div class="col-md-6">.
                    <div mathjax-bind="firstorderslope3"></div>
                </div>
                <div class="col-md-6">
                    <p>
                        We add in the difference in time between the two concentrations.
                    </p>
                </div>
            </div>

            <div class="row">
                <div class="col-md-6">.
                    <div mathjax-bind="kelSolution"></div>
                </div>
                <div class="col-md-6">
                    <p>
                        We then solve for Kel. Note that since the line is sloping "down", the slope is a negative
                        number.
                        However, we usually express Kel in terms of it's absolute value, even though (by definition) it
                        always represents a negative slope.
                    </p>
                </div>
            </div>

            <div class="row">
                <div class="col-md-6">.
                    <div mathjax-bind="firstOrderElimination"></div>
                </div>
                <div class="col-md-6">
                    <p>
                        Rearranging the Kel equation gives us this version. It's the exact same equation. I tend to find
                        this
                        version easier to use. However, the first version makes the nature of the Kel more clear.
                    </p>
                </div>
            </div>

            <div class="row">
                <div class="col-md-6">.
                    <div mathjax-bind="firstOrderElimination2"></div>
                </div>
                <div class="col-md-6">
                    <p>
                        Just as before, we put in the values for our concentrations. In this case, we don't need to
                        take the natural logs of the concentrations first.
                    </p>
                </div>
            </div>

            <div class="row">
                <div class="col-md-6">.
                    <div mathjax-bind="firstOrderElimination3"></div>
                </div>
                <div class="col-md-6">
                    <p>
                        Then we add in the change in time.
                    </p>
                </div>
            </div>

            <div class="row">
                <div class="col-md-6">.
                    <div mathjax-bind="kelSolution"></div>
                </div>
                <div class="col-md-6">
                    <p>
                        Both equations give us the same answer for Kel. We now have enough information to
                        describe every point on the straight line.
                    </p>
                </div>
            </div>

            <div class="row">
                <div class="col-md-6">.

                    <div ng-include="'firstOrderPostdict/firstOrderPostdict.svg'"></div>

                </div>
                <div class="col-md-6">
                    <p>
                        Look very carefully at what we've done here.
                    </p>

                    <p>
                        This is the <b>same</b> line we had sketched out in Step 3. We're just using different points
                        on that line to represent Co and C.
                    </p>

                    <P>
                        We are now calling the point at which we SHOULD have collected the concentration <i>Co</i>. It
                        is our "unknown" and it occurred at {{Problem.trueC0_time | date:'yyyy-MM-dd HH:mm'}}.
                    </P>

                    <p>
                        We are going to set <i>C</i> to one of the concentrations that we do know. We could have used
                        either {{Problem.C0}} mg/L or {{Problem.C}} mg/L. Either one would work. The important
                        thing is to remember that we need to adjust which time we are "counting from". If we used
                        {{Problem.C0}} mg/L, we are determining the unknown concentration relative to
                        {{Problem.C0_time | date:'HH:mm'}}. If we had chosen to use {{Problem.C}} mg/L as our value
                        for <i>C</i>, we would be figuring out the value for <i>Co</i> relative to
                        {{Problem.C_time | date:'HH:mm'}}.
                    </p>

                    <p>
                        We're going to solve this using {{Problem.C0}} mg/L as our new value for <i>C</i>. But, by
                        all means, go back and do the same thing using {{Problem.C}} mg/L as our value for <i>C</i>,
                        instead. We will end up with the same answer.
                    </p>

                    <p>

                    </p>
                </div>
            </div>
            <div class="row">
                <div class="col-md-6">.
                    <div mathjax-bind="firstOrderElimination"></div>
                </div>
                <div class="col-md-6">
                    <p>
                        We'll solve this using this version of the slope equation. Remember that this is just a
                        rearranged version of the "rise over run" equation. We could have used that arrangement of
                        the equation and would have gotten the same answer.
                    </p>
                </div>
            </div>

            <div class="row">
                <div class="col-md-6">.
                    <div mathjax-bind="firstOrderElimination4"></div>
                </div>
                <div class="col-md-6">
                    <p>
                        Here we have put in our new values for <i>Co</i> and <i>△t</i>. <i>Kel</i> is the value we
                        calculated earlier.
                    </p>

                    <p>
                        Note that <i>△t</i> is {{ Problem.truedeltaT }} hours. That is the amount of time that has
                        elapsed
                        between
                    </p>

                    <ul>
                        <li>{{Problem.trueC0_time | date:'yyyy-MM-dd HH:mm'}} (the time we SHOULD have gotten the
                            concentration) and
                        <li>{{Problem.C0_time | date:'yyyy-MM-dd HH:mm'}} (the time we DID get the concentration).
                    </ul>

                </div>

            </div>
            <div class="row">
                <div class="col-md-6">.
                    <div mathjax-bind="trueC0Solution"></div>
                </div>
                <div class="col-md-6">
                    <p>
                        Solving for <i>Co</i>, we get {{ Problem.trueC0 | number:1}} mg/L. That was the concentration at
                        {{Problem.trueC0_time | date:'yyyy-MM-dd HH:mm'}}.
                    </p>

                </div>

            </div>

            <p>&nbsp;</p>

            <p>&nbsp;</p>

        </div>
        <!--collapse hide step 4-->

        <p>&nbsp;</p>

        <p>&nbsp;</p>

        <div class="row">
            <div class="col-md-8">
                <p>
                    <span class="stepHeader">Step 5: Does my answer make sense?.</span>
                </p>

                <p>
                    Go back to Step 2. Does you answer look the way you expected it to?
                </p>
                <ul>
                    <li>Are the units what was expected?</li>
                    <li>Is the number in the same general range for the population predictions?</li>
                </ul>


                <p>Click the button to the right for an additional tip.</p>
            </div>
            <div class="col-md-4">.
                <button class="btn btn-default" ng-click="hideStep5 = !hideStep5">Toggle Step 5</button>
            </div>
        </div>


        <div collapse="hideStep5">


            <div class="row">
                <div class="col-md-6">.
                    <div mathjax-bind="trueC0Solution"></div>
                </div>
                <div class="col-md-6">
                    <p>
                        Our answer was {{ Problem.trueC0 | number:1}} mg/L, which has the correct units and is
                        somewhat greater than {{Problem.C0}} mg/L. So it sounds right.
                    </p>

                </div>
            </div>


            <div class="row">
                <div class="col-md-6">.
                    <div ng-include="'firstOrderPostdict/firstOrderPostdict2.svg'"></div>
                </div>
                <div class="col-md-6">
                    <p>
                        One way to double-check is to use the same equation and check to see what we get for whichever
                        value we <b>didn't</b> choose to use back in Step 4.
                    </p>

                    <p>
                        For example, we chose to use {{Problem.C0}} mg/L as our "new" <i>C</i>. We chose not to use
                        {{Problem.C}} mg/L. But, let's use it now.
                    </p>

                    <p>
                        If we set up our line like this, using {{ Problem.trueC0 | number:1}} mg/L as our <i>Co</i>
                        and filling in the time for the other other concentration that was drawn
                        ({{Problem.C_time | date:'yyyy-MM-dd HH:mm'}}), solving for <i>C</i> SHOULD give us the
                        same answer for the concentration as the value we actually got from the lab
                        ({{ Problem.C | number:1}}) mg/L. Or, at least, it should be pretty close.
                    </p>

                </div>
            </div>

            <div class="row">
                <div class="col-md-6">.
                    <div mathjax-bind="firstOrderElimination"></div>
                </div>
                <div class="col-md-6">
                    <p>
                        We'll use this version of the equation (although we could have used the arrangement that
                        looks more like "rise over run").
                    </p>
                </div>
            </div>

            <div class="row">
                <div class="col-md-6">.
                    <div mathjax-bind="firstOrderElimination5"></div>
                </div>
                <div class="col-md-6">
                    <p>
                        We'll put in our values.
                    </p>
                </div>
            </div>

            <div class="row">
                <div class="col-md-6">.
                    <div mathjax-bind="checkCSolution"></div>
                </div>
                <div class="col-md-6">
                    <p>
                        The answer we get for <i>C</i> is {{ Problem.C | number:1}} mg/L, which is the same number
                        we got from the lab. Which means that our solution is probably correct.
                    </p>

                    <p>
                        At this point, we would treat {{ Problem.trueC0 | number:1}} mg/L just as if it came from
                        the lab as the concentration at {{Problem.trueC0_time | date:'yyyy-MM-dd HH:mm'}}. We
                        would have to look at the patient and make a clinical decision as to whether than concentration
                        is acceptable or not.
                    </p>
                </div>
            </div>


            <p>&nbsp;</p>

            <p>&nbsp;</p>
        </div>
        <!--collapse hide step 5-->


        <p>&nbsp;</p>

        <p>&nbsp;</p>


    </div>
    <!-- /container -->
