<div class="container">
    <div ng-controller="menuCtrl">

        <div class="page-header">
            <h2>Pharmacokinetic Problems</h2>

            <p class="lead">Randomly-generated pharmacokinetic cases and tutorials</p>
        </div>

        <accordion close-others="oneAtATime">

            <accordion-group heading="{{menugroup.name}}" ng-repeat="menugroup in menugroups">
                <div ng-repeat="problem in menugroup.problems">
                    <a href="index.html#/{{problem.url}}">{{problem.title}}</a>
                </div>
            </accordion-group>
        </accordion>


    </div>


</div>
<!-- /container -->
