<div class="container">
    <div class="page-header">
        <h2>GFR in Children</h2>

        <p class="lead">Estimate glomerular filtration rate of a pediatric patient using the Schwartz
            equation.</p>
    </div>


    <div ng-controller="gfrchildrenCtrl">

        <div class="row">
            <div class="col-md-8"><span class="stepHeader">Patient Case</span></div>
            <div class="col-md-4">
                <button class="btn btn-default" ng-click="hidePatient = !hidePatient">Toggle patient case</button>
            </div>
        </div>
        <div collapse="hidePatient">

            <span ng-include="'common/pediatriccase1.html'"></span>

            <p>&nbsp;</p>


            <p>
                What would is your best estimate of this patient's glomerular filtration rate using the Schwartz
                equation?
            </p>

        </div>
        <!--collapse hide patient-->


        <p>&nbsp;</p>

        <p>&nbsp;</p>

        <div class="row">
            <div class="col-md-8">
                <p>
                    <span class="stepHeader">Step 1: Draw a picture.</span>
                </p>

                <p>
                    Make a quick sketch of what's going on in the question. This forces us to look at the question
                    closely and avoid assumptions.
                </p>

                <p>Click the button to the right when you've finished your picture.</p>


            </div>
            <div class="col-md-4">.
                <button class="btn btn-default" ng-click="hideStep1 = !hideStep1">Toggle Step 1</button>
            </div>
        </div>
        <div collapse="hideStep1">
            <div class="row">
                <div class="col-md-6">
                    <div ng-include="'gfrchildren/stickped.svg'"></div>
                </div>
                <div class="col-md-6">
                    <p>
                        The Schwartz equation only has a few variables, but we need to make sure that we are expressing
                        them using the correct units.
                    </p>

                    <p>
                        In this case, we know that the patient
                    </p>
                    <ul>
                        <li>Has a serum creatinine of {{pediatricpatient.creatinine | number:1}} mg/dL</li>
                        <li>Is {{pediatricpatient.height }} cm tall.</li>
                        <li>Is {{pediatricpatient.age }} years old.</li>
                    </ul>


                </div>
            </div>
            <p>&nbsp;</p>

            <p>&nbsp;</p>
        </div>
        <!--collapse hide step 1-->


        <p>&nbsp;</p>

        <p>&nbsp;</p>

        <div class="row">
            <div class="col-md-8">
                <p>
                    <span class="stepHeader">Step 2: Predict answer.</span>
                </p>

                <p>
                    In the time it took us to draw the picture, it's possible we may have forgotten what the question
                    was asking. Go back and look at the question again. Answer these two questions:
                <ul>
                    <li>What is the answer going to look like (units)?</li>
                    <li>What "ballpark" number are we expecting as our answer?</li>
                </ul>
                Click the button to the right when you have answered these questions.
                </p>
            </div>
            <div class="col-md-4">.
                <button class="btn btn-default" ng-click="hideStep2 = !hideStep2">Toggle Step 2</button>
            </div>
        </div>


        <div collapse="hideStep2">

            <div class="row">
                <div class="col-md-12">


                    <p>
                        Looking back at our question, we see that it is asking for a glomerular filtration rate.
                        That's a measure of how fast the kidneys can filter blood.
                        The usual way of expressing GFR is <b>mL/minute</b>.
                        When directly measuring creatinine clearance using a 24-hour urine, we would cross out units in
                        order to end up with <b>mL/min</b>. However, units don't cross out when using the Schwartz
                        equation. Rather, we have to make sure we are using the same units that they did when they
                        created the equation. We have to express
                    </p>
                    <ul>
                        <li>Serum creatinine in mg/dL</li>
                        <li>Height in centimeters</li>
                    </ul>
                    If we don't use those units, our number will not come out right.

                    <p>
                        We know that a 'typical' GFR is usually about 100 mL/min.
                        Some healthy, younger patients might have calculated GFRs of 125-150 mL/min.
                        A person in renal failure might have a GFR of less than 10 mL/min.
                    </p>

                    <p>
                        Our answer is probably going to be somewhere between 0 - 150 mL/min.
                    </p>

                </div>

            </div>

            <p>&nbsp;</p>

            <p>&nbsp;</p>
        </div>
        <!--collapse hide step 2-->

        <p>&nbsp;</p>

        <p>&nbsp;</p>

        <div class="row">
            <div class="col-md-8">
                <p>
                    <span class="stepHeader">Step 3: Select your tools.</span>
                </p>

                <p>
                    Think about what equations help describe the situation. Which one are you going to use?
                </p>

                <p>Click the button to the right when you have an equation in mind.</p>
            </div>
            <div class="col-md-4">.
                <button class="btn btn-default" ng-click="hideStep3 = !hideStep3">Toggle Step 3</button>
            </div>
        </div>


        <div collapse="hideStep3">

            <div class="row">
                <div class="col-md-6">
                    <p>

                    <div mathjax-bind="schartzEquation"></div>
                    </p>
                </div>
                <div class="col-md-6">
                    <p>
                        We will use the Schwartz equation.
                    </p>

                    <p>
                        "Age" does not appear in the equation. Instead, age is reflected in the selection of the value
                        for "k".
                    </p>
                    <ul>
                        <li>For patients between 1 and ~16 years of age, <a
                                href="http://jasn.asnjournals.org/content/20/3/629.full.pdf+html" target="_blank"> k =
                            0.413</li>
                        <li>For full-term infants under 1 year of age, <a
                                href="http://www.jpeds.com/article/S0022-3476(84)80479-5/abstract" target="_blank"> k =
                            0.45</a></li>
                        <li>For pre-term infants, <a href="http://www.jpeds.com/article/S0022-3476(86)80245-1/abstract"
                                                     target="_blank">k = 0.33</a></li>
                    </ul>
                    <p>Prior to the publication of an updated equation in 2009, k=0.55 was commonly used for children
                        greater than 1 year of age.</p>
                </div>
            </div>

            <p>&nbsp;</p>
        </div>
        <!--collapse hide step 3-->


        <p>&nbsp;</p>

        <p>&nbsp;</p>

        <div class="row">
            <div class="col-md-8">
                <p>
                    <span class="stepHeader">Step 4: Do the math.</span>
                </p>

                <p>
                    Set up your equations and solve for the unknown (eGFR).
                </p>

                <p>Click the button to the right when you have a result.</p>
            </div>
            <div class="col-md-4">.
                <button class="btn btn-default" ng-click="hideStep4 = !hideStep4">Toggle Step 4</button>
            </div>
        </div>


        <div collapse="hideStep4">


            <div class="row">
                <div class="col-md-12">
                    <div mathjax-bind="schwartzEquationPatient"></div>
                </div>
            </div>
            <div class="row">
                <div class="col-md-12">

                    <p>
                        The patient is {{ pediatricpatient.age }} years old. We would use k=0.413.
                    </p>

                    <p>
                        They are {{ pediatricpateint.height }} cm tall and has a serum creatinine of
                        {{ pediatricpatient.creatinine }} mg/dL.
                    </p>


                </div>
            </div>


            <div class="row">
                <div class="col-md-6">.
                    <div mathjax-bind="gfrchildrenEquationPatient"></div>
                </div>
                <div class="col-md-12">
                    <p>
                        This gives us an estimated GFR for this patient of {{ gfrchildren | number: 0 }} mL/min.
                    </p>

                </div>
            </div>

            <p>&nbsp;</p>

            <p>&nbsp;</p>

        </div>
        <!--collapse hide step 4-->

        <p>&nbsp;</p>

        <p>&nbsp;</p>

        <div class="row">
            <div class="col-md-8">
                <p>
                    <span class="stepHeader">Step 5: Does my answer make sense?.</span>
                </p>

                <p>
                    Go back to Step 2. Does you answer look the way you expected it to?
                    Is the number in the same general range for the population predictions?</p>


                <p>Click the button to the right when you've answered the questions.</p>
            </div>
            <div class="col-md-4">.
                <button class="btn btn-default" ng-click="hideStep5 = !hideStep5">Toggle Step 5</button>
            </div>
        </div>


        <div collapse="hideStep5">


            <div class="row">

                <div>
                    <p>
                        Our answer was {{ gfrchildren | number: 0 }} mL/min,
                        which is somewhere in the range we expected. So it is likely that our math is correct.
                    </p>


                </div>
            </div>


            <p>&nbsp;</p>

            <p>&nbsp;</p>
        </div>
        <!--collapse hide step 5-->


        <p>&nbsp;</p>

        <p>&nbsp;</p>


    </div>
    <!-- /container -->
